# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/app/build/
/android/build/
/adnroid/app/intermediates/
/android/app/outputs/
/android/app/generated/
/android/app/.cxx/
/android/app/.externalNativeBuild/
/android/app/.gradle/
/android/app/.idea/
/android/app/.vscode/
/android/app/.flutter-plugins-dependencies
/android/app/.dart_tool/
/android/app/.pub-cache/
/android/app/.pub/
/android/app/.build/
/android/app/.coverage/
/android/build


google-services.json
android/local.properties

android/build/app/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-am.json
android/build/app/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/single/mergeDebugResources.json
android/build/app/intermediates/incremental/debug/mergeDebugResources/merged.dir/values/values.xml
android/build/app/intermediates/incremental/debug-mergeJavaRes/zip-cache/PllMsEWcJVMj_wzh9C4coh4skdY=
android/build/app/intermediates/merged_res/debug/mergeDebugResources/values-ms_values-ms.arsc.flat
android/build/app/intermediates/local_only_symbol_list/debug/parseDebugLocalResources/R-def.txt
android/build/app/intermediates/merged_res/debug/mergeDebugResources/values-hu_values-hu.arsc.flat
android/build/firebase_storage/intermediates/incremental/debug/packageDebugResources/compile-file-map.properties
android/local.properties
android/app/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-hi.json
android/app/build/intermediates/merged_res_blame_folder/debug/mergeDebugResources/out/multi-v2/values-hi.json
android/build/app/intermediates/merged_res/debug/mergeDebugResources/values-ms_values-ms.arsc.flat
