gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
/local.defaults.properties
GeneratedPluginRegistrant.java
.cxx/
.kotlin/
local.properties
local.defaults.properties
google-services.json

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks


